html { background-color: #EBEBEB; }
p, h1, h2, h3, h4, h5, h6 { font-family: 'Droid Sans', arial, serif; margin: 0 0 10px 0; color: #444; }
h2 { border-bottom: 1px solid #BBB; }
a { color: #D14; text-decoration: none; }
a:hover { text-decoration: underline; }
.line span { font-family: 'Reenie Beanie', arial, serif; font-size: 34px; }
.gist-meta { display: none; }
.container { width: 960px; margin: 0 auto; }
.module { margin: 0 5px; }
#header { padding: 40px 0; }
#header .module { height: 100px; position: relative; }
#title, #subtitle { margin: 0; position: absolute; bottom: 0; text-shadow: 0 -1px 1px #000; }
#title { font-size: 80px; line-height: 80px; }
#subtitle { font-size: 40px; font-weight: normal; color: #666; }
#downloads p { text-align: center; padding-top: 5px; }
#downloads p span { font-size: 40px; position: relative; top: 10px; color: #444; text-shadow: 0 -1px 1px #000; }
#downloads img { vertical-align: middle; }
#footer .module { background-color: #DDD; width:180px;}
#footer span { padding: 4px 10px; line-height: 19px; font-family: Reenie Beanie, arial, serif; font-size:20px; }
#footer a { font-family: Reenie Beanie, arial, serif; font-size:20px; }

@media all and (max-device-width: 480px) {
  .container { width: 100%; }
  #header { padding: 10px 0 20px 0;}
  #header .module { height: 1%; }
  #title, #subtitle { position: relative; }
  #subtitle { font-size: 34px; }
}

/* Second console */
div.console2 { padding-bottom: 20px; font-size: 14px; margin-top:1em }
div.console2 div.jquery-console-inner 
 { width:900px; height:200px; background:#efefef; padding:0.5em;
   overflow:auto }
div.console2 div.jquery-console-prompt-box
 { color:#444; font-family:monospace; }
div.console2 div.jquery-console-focus span.jquery-console-cursor 
 { background:#333; color:#eee; font-weight:bold }
div.console2 div.jquery-console-message-error
 { color:#ef0505; font-family:sans-serif; font-weight:bold;
   padding:0.1em; }
div.console2 div.jquery-console-message-success
 { color:#187718; font-family:monospace;
   padding:0.1em; }
div.console2 span.jquery-console-prompt-label { font-weight:bold }